<mat-sidenav-container class="shell-container" [autosize]="true">
  <mat-sidenav mode="side" opened class="shell-sidenav" [class.collapsed]="isMenuCollapsed">
    <div class="brand" [class.hidden]="isMenuCollapsed">CRUD Angular</div>

    <mat-nav-list>
      <a mat-list-item routerLink="/clientes" routerLinkActive="active-link">
        <mat-icon matListItemIcon>people</mat-icon>
        @if (!isMenuCollapsed) {
          <span matListItemTitle>Clientes</span>
        }
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="shell-toolbar">
      <button mat-icon-button aria-label="Abrir ou fechar menu lateral" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbar-title">Sistema</span>

      <span class="toolbar-spacer"></span>

      <button mat-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
        Profile
      </button>

      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>mail</mat-icon>
          <span>{{ userEmail }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="shell-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
