@import 'devextreme/dist/css/dx.fluent.blue.dark.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #151515;
  color: #f4f4f4;
}
